# Visual Studio
.vs/
*.user
*.suo

# Build
**/bin/
**/obj/

# Rider
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Test results
[Tt]est[Rr]esults/

# VS temporary files
*.vshost.exe
*.vshost.exe.config
*.vshost.exe.manifest
*.lnx

# JetBrains (Rider)
.idea/
*.sln.iml

# VS Code
.vscode/

#Log
logs/